<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinlesspay">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Below permissions are used to detect required hardware or service providers for the application -->
    <permission
        android:name="com.pinlesspay.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.pinlesspay.permission.C2D_MESSAGE" />


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.VerifyActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.TellFriendActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ProfileActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PaymentMethodsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SupportActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SecurityActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.NewTicketActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SuggestionActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PassCodeConfirmationActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LockActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />


        <receiver android:name=".sms.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!--<receiver-->
            <!--android:name="com.google.android.gms.gcm.GcmReceiver"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND">-->
            <!--<intent-filter>-->

                <!--&lt;!&ndash; Receives the actual messages. &ndash;&gt;-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->

                <!--&lt;!&ndash; Receives the registration id. &ndash;&gt;-->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

                <!--<category android:name="com.mwallet" />-->

            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<service-->
            <!--android:name=".pushnotification.MyGCMListenerService"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
            <!--</intent-filter>-->
        <!--</service>       &lt;!&ndash; Handles the creation and updating of registration tokens &ndash;&gt;-->

        <!--<service-->
            <!--android:name=".pushnotification.MyInstanceIDListenerService"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.gms.iid.InstanceID" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; To get the registration token &ndash;&gt;-->

        <!--<service-->
            <!--android:name=".pushnotification.RegistrationIntentService"-->
            <!--android:exported="false">-->

        <!--</service>-->


        <!-- Firebase Notifications -->
        <service android:name=".pushnotification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".pushnotification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>